.monitor-info {
  margin-top: 40px;
}
.monitor-info .container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}
.monitor-info .container .top-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfffe;
}
.monitor-info .container .top-img-container img {
  padding: 50px 0;
}
.monitor-info .container .monitor-main-info {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 482px;
}
.monitor-info .container .monitor-main-info img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: -1;
  float: left;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper {
  padding: 40px;
  background: #fdfffe;
  max-width: 755px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 142.1%;
  color: #00231b;
  margin-bottom: 20px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper .text-container p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #00231b;
}

.characteristics {
  margin-top: 100px;
}
.characteristics .container {
  max-width: 1180px;
  margin: 0 auto;
}
.characteristics .container .title h1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #00231b;
  text-align: center;
}
.characteristics .container .columns-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.characteristics .container .columns-container .columns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
}
.characteristics .container .columns-container .columns-wrapper .column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.characteristics .container .columns-container .columns-wrapper .column .column-title {
  padding: 10px;
  border-bottom: 2px solid #00d9a4;
}
.characteristics .container .columns-container .columns-wrapper .column .column-title h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #00d9a4;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #6c7774;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item .item-title {
  padding: 10px;
  border-bottom: 1px solid #6c7774;
  width: 40%;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item .item-text {
  padding: 10px;
  border-bottom: 1px solid #6c7774;
  width: 100%;
}/*# sourceMappingURL=MonitorsLiveScove.css.map */