body {
  overflow-x: visible;
}

.monitor-info {
  margin-top: 40px;
}
.monitor-info .container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}
.monitor-info .container .top-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfffe;
}
.monitor-info .container .top-img-container img {
  padding: 50px 0;
}
.monitor-info .container .monitor-main-info {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 482px;
}
.monitor-info .container .monitor-main-info img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: -1;
  float: left;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper {
  padding: 40px;
  background: #fdfffe;
  max-width: 755px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 142.1%;
  color: #00231b;
  margin-bottom: 20px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.monitor-info .container .monitor-main-info .monitor-text-wrapper .text-container p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #00231b;
}

.monitor-info-adaptiv {
  margin-top: 70px;
  width: 100%;
  display: none;
}
.monitor-info-adaptiv .container {
  margin: 0 15px !important;
  display: flex;
  flex-direction: column;
  max-width: none !important;
}
.monitor-info-adaptiv .container .monitor-info-adaptiv-title {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.monitor-info-adaptiv .container .monitor-info-adaptiv-title h5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: #00231b;
  text-align: left;
  width: 100%;
}
.monitor-info-adaptiv .container .monitor-info-adaptiv-title .title-img-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.monitor-info-adaptiv .container .monitor-info-adaptiv-title .title-img-wrapper img {
  max-width: none;
}
.monitor-info-adaptiv .container .items-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-img-container {
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background: #00d9a4;
  border-radius: 14px;
  margin-bottom: 30px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-img-container img {
  width: 45px;
  height: 45px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-img-container span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #fdfffe;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container .item-text-container--title {
  margin-bottom: 20px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container .item-text-container--title h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #00231b;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container ul li::before {
  display: none;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container ul li img {
  width: 17px;
  height: 17px;
}
.monitor-info-adaptiv .container .items-container .monitor-adaptiv-item .item-text-container ul li span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #3f514d;
}

.characteristics {
  margin-top: 100px;
}
.characteristics .container {
  max-width: 1180px;
  margin: 0 auto;
}
.characteristics .container .title h1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #00231b;
  text-align: center;
}
.characteristics .container .columns-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.characteristics .container .columns-container .columns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
}
.characteristics .container .columns-container .columns-wrapper .column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.characteristics .container .columns-container .columns-wrapper .column .column-title {
  padding: 10px;
  border-bottom: 2px solid #00d9a4;
}
.characteristics .container .columns-container .columns-wrapper .column .column-title h6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #00d9a4;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #6c7774;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item .item-title {
  padding: 10px;
  border-bottom: 1px solid #6c7774;
  width: 40%;
}
.characteristics .container .columns-container .columns-wrapper .column .column-items-container .column-item .item-text {
  padding: 10px;
  border-bottom: 1px solid #6c7774;
  width: 100%;
}/*# sourceMappingURL=MonitorsLiveScove.css.map */