.monitor-slider {
  margin-top: 100px !important;
  max-width: 1180px;
  margin: 0 auto;
}
.c-tabs-nav {
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.c-tabs-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 170px;
  height: 170px;
  background: #dfeae7;
  border-radius: 14px;
  color: #00231b;
  transition: 0.3s;
  img {
    width: 71px;
    height: 71px;
  }
  span {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}

.c-tabs-nav__link.is-active {
  opacity: 1;
  background: #00d9a4;
  color: #fdfffe;
  img {
    display: none;
  }
  .hidden {
    display: block !important;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  animation: showTab 500ms ease-in-out both;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tab-main {
    .tab-title {
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #00231b;
      }
    }
    .tab-text {
      margin-bottom: 20px;
      span {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #3f514d;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        &::before {
          display: none;
        }
        img {
          width: 28px;
          height: 28px;
        }
        span {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #3f514d;
        }
      }
    }
  }
}

@keyframes showTab {
  from {
    opacity: 0;
    top: 5px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.c-tab-nav-marker {
  min-height: 4px;
  background: #00d9a4;
  position: absolute;
  bottom: -10px;

  transition: all 0.3s ease-out;
}
