body {
  overflow-x: hidden;
  background: #f5f5f5;
}
section {
  padding-bottom: 0px;
}
.main-section {
  height: auto;
}
.header {
  margin-top: 20px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    .content-header {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      line-height: 75px;
      color: #00231b;
    }
  }
}
.links {
  margin-top: 15px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      li {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #00231b;

        opacity: 0.8;
        a {
          color: #00231b;
        }
        &::before {
          margin-right: 10px;
          margin-top: 7px;
        }
      }

      .links-text {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #00231b;
      }
    }
  }
}
.generator-info {
  margin-top: 40px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .top-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 146px;
      background: #fdfffe;
    }
    .columns-container {
      display: flex;
      flex: 1 1 auto;
      background: #fdfffe;
      justify-content: space-between;
      .column {
        display: flex;
        flex-wrap: wrap;
        max-width: 670px;
        position: relative;
        .info-container {
          position: absolute;
          right: 25px;
          bottom: 0px;
          display: flex;
          flex-direction: column;
          gap: 120px;
          background: #c7ddd7;
          padding: 20px;
          .info-img-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            img {
              max-width: 69px;
            }
          }
          p {
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            color: #00231b;
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
      }
      .column-item {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 75px 30px;
        max-width: 335px;
        max-height: 236px;
        gap: 10px;
        border: 1px solid rgba(0, 35, 27, 0.03);

        h6 {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          color: #00231b;
        }
        span {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #6c7774;
        }
      }
    }
    .bottom-text-container {
      display: flex;
      align-items: center;
      padding-left: -80px;
      background: #fdfffe;

      img {
        filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.16));
      }
      .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 40px;

        h6 {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 142.1%;
          color: #00231b;
        }
        p {
          font-family: "Manrope", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #00231b;
        }
      }
    }
    .product-info {
      margin-top: 0px;
      .container {
        .text-container {
          padding: 115px 40px 115px 170px;
        }
        img {
          width: 440px;
          height: 100%;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}
.levels-info {
  margin-top: 95px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0eae7;
    border-radius: 37px 0px 0px 37px;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 50px 0px 50px 30px;
      .text-title {
        h5 {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          color: #00231b;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          display: flex;
          gap: 20px;
          span {
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
          }
          &::before {
            display: none;
          }
          .level-wrapper {
            border-right: 2px solid #00d9a4;
            font-family: "Manrope", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            padding-right: 18px;
            width: 76px;
          }
        }
      }
    }
    .img-container {
      height: 100%;
      img {
        height: 100%;
        max-width: none;
        max-height: 422px;
        max-width: 460px;
      }
    }
  }
}
.product-info {
  margin-top: 100px;

  .container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      position: absolute;
      left: 10px;
      top: -75px;
      width: 365.73px;
      height: 365.73px;
      filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.16));
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 45px 40px 45px 170px;
      background: #fdfffe;
      width: 970px;
      min-height: 210px;
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #00231b;
      }
      span {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #00231b;
      }
    }
  }
}
.product-info-list {
  margin-top: 30px;
  .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .product-info-list-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #00231b;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          &::before {
            display: none;
          }
          img {
            width: 28px;
            height: 28px;
          }
          span {
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #3f514d;
          }
        }
      }
    }
  }
}
.reverse {
  .container {
    flex-direction: row-reverse;
    .product-info-list-container {
      margin-top: 5px;
    }
    img {
      height: 960px;
      max-height: none;
    }
  }
}
.graphics {
  margin-top: 130px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    .graphic-title {
      margin-bottom: 10px;
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #00231b;
      }
    }
    .graphic-sub-title {
      margin-bottom: 10px;
      h6 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #00231b;
      }
    }
    .graphic-info {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .item-title {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 50%;
        margin-bottom: 0px;
        img {
          width: 28px;
          height: 28px;
        }
        span {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #00231b;
        }
      }
    }
    .graphics-items-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: none;
        padding: 0px;

        .item-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px;
          background: #fdfffe;
          border: 1px solid #00d9a4;
          border-radius: 25px;
          height: 600px;
          .item-graphic-container {
            margin-bottom: 20px;
          }
          ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            gap: 10px;
            li {
              display: flex;
              align-items: center;
              gap: 10px;
              font-family: "Manrope", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #00231b;
              &::before {
                display: none;
              }
              span {
                font-family: "Manrope", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #00231b;
                background: #e0eae7;
                padding: 2px 9px;
                border-radius: 50%;
              }
            }
          }
          .text-container {
            span {
              font-family: "Manrope", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #00231b;
            }
          }
        }
      }
    }
  }
}
.usedge {
  margin-top: 100px;
  .container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .usedge-title {
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #00231b;
        text-align: center;
      }
    }
    .usedge-items-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .usedge-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fdfffe;
        border: 1px solid rgba(0, 217, 164, 0.5);
        border-radius: 30px;
        width: 570px;
        padding-left: 30px;
        img {
          max-height: none;
          max-width: none;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            list-style: disc;

            &::before {
              background-color: black;
              margin-right: 10px;
              margin-top: 8px;
              min-width: 5px;
              min-height: 5px;
            }
          }
        }
      }
    }
  }
}
.equipment {
  margin-top: 100px;
  .container {
    max-width: 1180px;
    margin: 0 auto;
    .equipment-title {
      margin-bottom: 40px;
      h5 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #00231b;
        text-align: center;
      }
    }
    .equipment-items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .equipment-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #e0eae7;
        border: 2px solid #c7ddd7;
        border-radius: 12px;
        min-width: 570px;
        height: 447px;
        img {
          padding: 30px 20px 40px 45px;
          max-height: 305px;
        }
        .text-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 20px;
          height: 136px;
          border-top: 2px solid #c7ddd7;
          .text-item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h6 {
              font-family: "Manrope", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #00231b;
              padding: 10px;
              border-bottom: 2px solid #00d9a4;
            }
            span {
              font-family: "Manrope", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #00231b;
            }
          }
        }
      }
      .main-equipment-item {
        width: 100%;
        height: auto;
        .text-container {
          height: auto;
        }
      }
    }
  }
}
.connect-section {
  margin-top: 100px;
  .connect-wrapper {
    .connect-left {
      .connect-title {
        h2 {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 33px;
          line-height: 40px;

          color: #00231b;
        }
      }
    }
  }
}
footer {
  margin-top: 60px;
  background: #e2edff;
}
