@media screen and (max-width: 1000px) {
  .table .container {
    gap: 15px;
  }
  .table .container .table-title h2 {
    text-align: left;
    font-size: 23px;
    line-height: 31px;
  }
  .generator-info .container .top-img-container .hidden {
    padding: 17px 0;
  }
  .columns-info {
    margin-top: 70px;
  }
  .columns-info .container {
    margin: 0 10px;
    flex-direction: column;
  }
  .columns-info .container .column {
    gap: 20px;
  }
  .columns-info .container .column .column-item .column-item-title h5 {
    font-size: 15px;
    line-height: 20px;
  }
  .columns-info .container .column .column-item .column-item-text-container p {
    font-size: 14px;
    line-height: 19px;
  }
  .work-info {
    margin-top: 70px;
  }
  .work-info .container {
    margin: 0 10px;
    flex-direction: column-reverse;
  }
  .work-info .container .column {
    flex-direction: column;
  }
  .work-info .container .column .text-container {
    width: 100%;
    gap: 10px;
  }
  .work-info .container .column .text-container img {
    display: none;
  }
  .work-info .container .column .text-container .hidden {
    display: block;
    max-width: 13px;
  }
  .work-info .container .column .text-container span {
    font-size: 15px;
    line-height: 20px;
  }
  .work-info .container .column .column-item {
    height: auto;
    max-width: none;
  }
  .work-info .container .column .column-item:last-child {
    border-top: 1px solid rgba(0, 35, 27, 0.03);
    border-left: none;
  }
  .work-info .container .column .column-item h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .work-info .container .column .column-item p {
    font-size: 14px;
    line-height: 19px;
  }
  .work-info .container .column .column-item ul li {
    font-size: 14px;
    line-height: 19px;
  }
  .product-info-list {
    margin-top: 70px;
  }
  .product-info-list .container {
    margin: 0 10px;
    flex-direction: column-reverse;
  }
  .product-info-list .container .product-info-list-container ul li img {
    width: 17px;
    height: 17px;
  }
  .product-info-list .container .product-info-list-container .models-title {
    margin-top: 20px;
  }
  .product-info-list .container .product-info-list-container .models-title h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .product-info-list .container .product-info-list-container .text-container {
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }
  .product-info-list .container .product-info-list-container .text-container .text-item {
    width: 45%;
  }
  .product-info-list .container .product-info-list-container .text-container .text-item:nth-child(4) {
    margin-top: 6px;
  }
  .product-info-list .container .product-info-list-container .text-container .text-item:last-child {
    width: 100%;
  }
  .product-info-list .container .product-info-list-container .text-container .text-item h6 {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
  }
  .product-info-list .container .product-info-list-container .text-container .text-item span {
    font-size: 14px;
    line-height: 19px;
  }
  .connect-section {
    margin-top: 70px;
  }
}/*# sourceMappingURL=PatientMonitor-media.css.map */